<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="meta.css">
  </head>
  <body>
    <h1>Learner guides</h1>
          <table>
            <thead>
              <tr><td>Title</td><td>ID</td><td>Author</td><td>Published</td></tr>
            </thead>
            <tbody>
              <tr><td><a href="http://www.test.bbc.co.uk/education/guides/zwwnb9q">Electrical safety</a></td><td><a href="http://www.test.bbc.co.uk/education/guides/zwwnb9q">zwwnb9q</a></td><td><a href="mailto:sean.carroll@bbc.co.uk">Sean Carroll</a></td><td>10/09/2014</td></tr>
            </tbody>
</table>
            </body>
            </html>
            
